@page
@model qwerty.Pages.ZAF.Filtr.filtrbukModel
@{
}
<h1>Список разных классов</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.students[0].FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].ClassID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FIO)
                </td>
                <td>
                    @Model.Class.Bukva

                </td>
            </tr>
        }
    </tbody>
</table>
