@page
@model qwerty.Pages.ZAF.IndexModel
@{
}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Запросы</h5>
                <p>
                    <a class="nav-link text-dark" asp-area="" asp-page="Zapros/otdel_kadrov">Отдел кадров</a>
                </p>
                <p>
                    <a class="nav-link text-dark" asp-area="" asp-page="Zapros/spisok_uchenikov">Список учеников</a>
                </p>
                <p>
                    <a class="nav-link text-dark" asp-area="" asp-page="Zapros/spisok_klassov">Список классов</a>
                </p>
                <p>
                    <a class="nav-link text-dark" asp-area="" asp-page="Zapros/spisok_predmetov">Список предметов</a>
                </p>
                <p>
                    <a class="nav-link text-dark" asp-area="" asp-page="Zapros/raspisanie_z">Расписание занятий</a>
                </p>
                <h5 class="card-title">Фильтр</h5>
                <form>
                    Отобразить сотрудников с должностью:
                    <select asp-items="Model.otdel" name="id" class="form-control-sm">
                        <option value="-1">Должность не выбрана</option>
                    </select>
                    <button asp-page="Filtr/sotrudniki_od" class="btn btn-primary">Отфильтровать</button>
                </form>
                <form>
                    Отобразить учеников с буквой:
                    <select asp-items="Model.god" name="id" class="form-control-sm">
                        <option value="-1">Буква не выбрана</option>
                    </select>
                    <button asp-page="Filtr/filtrbuk" class="btn btn-primary">Отфильтровать</button>
                </form>
            </div>
        </div>

    </div>
</div>