@page
@model qwerty.Pages.Studentss.CreateModel

@{
    ViewData["Title"] = "Ученики";
}

<h1>Добавить учеников</h1>

<h4>Введите данные</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="students.FIO" class="control-label"></label>
                <input asp-for="students.FIO" class="form-control" />
                <span asp-validation-for="students.FIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="students.Data_rozdenia" class="control-label"></label>
                <input asp-for="students.Data_rozdenia" class="form-control" />
                <span asp-validation-for="students.Data_rozdenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="students.Pol" class="control-label"></label>
                <input asp-for="students.Pol" class="form-control" />
                <span asp-validation-for="students.Pol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="students.Adres" class="control-label"></label>
                <input asp-for="students.Adres" class="form-control" />
                <span asp-validation-for="students.Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="students.FIO_ot" class="control-label"></label>
                <input asp-for="students.FIO_ot" class="form-control" />
                <span asp-validation-for="students.FIO_ot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="students.FIO_mat" class="control-label"></label>
                <input asp-for="students.FIO_mat" class="form-control" />
                <span asp-validation-for="students.FIO_mat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="students.Dopolnitelnaya_inf" class="control-label"></label>
                <input asp-for="students.Dopolnitelnaya_inf" class="form-control" />
                <span asp-validation-for="students.Dopolnitelnaya_inf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="students.ClassID" class="control-label"></label>
                <input asp-for="students.ClassID" class="form-control" />
                <span asp-validation-for="students.ClassID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
