@page
@model qwerty.Pages.predmetss.CreateModel

@{
    ViewData["Title"] = "Предмет";
}

<h1>Добавить предмет</h1>

<h4>Введите данные</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="predmet.Naimenovanie" class="control-label"></label>
                <input asp-for="predmet.Naimenovanie" class="form-control" />
                <span asp-validation-for="predmet.Naimenovanie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="predmet.Opisanie" class="control-label"></label>
                <input asp-for="predmet.Opisanie" class="form-control" />
                <span asp-validation-for="predmet.Opisanie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="predmet.sotrudnikiID" class="control-label"></label>
                <input asp-for="predmet.sotrudnikiID" class="form-control" />
                <span asp-validation-for="predmet.sotrudnikiID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
