@page
@model qwerty.Pages.Vids.DeleteModel

@{
    ViewData["Title"] = "Вид классов";
}

<h1>Удалить запись</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Вид класса</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vid.Naimenovanie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vid.Naimenovanie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vid.Opisanie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vid.Opisanie)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="vid.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться назад</a>
    </form>
</div>
