@page
@model qwerty.Pages.Vids.EditModel

@{
    ViewData["Title"] = "Виды классов";
}

<h1>Редактировать запись</h1>

<h4>Вид класса</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="vid.ID" />
            <div class="form-group">
                <label asp-for="vid.Naimenovanie" class="control-label"></label>
                <input asp-for="vid.Naimenovanie" class="form-control" />
                <span asp-validation-for="vid.Naimenovanie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vid.Opisanie" class="control-label"></label>
                <input asp-for="vid.Opisanie" class="form-control" />
                <span asp-validation-for="vid.Opisanie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
